$dark: hsl(225, 59%, 11%);
$blue: hsl(220, 60%, 60%);
$turqoise: hsl(171, 80%, 50%);
$superlight: hsl(220, 100%, 97%);
$safron: hsl(39, 90%, 55%);

@import "normalize";
@import "highlight";
@import "helper/animations";
@import "helper/flex-unit";
@import "post";

body {
  @include flex-unit(3vw, 14px, 22px, 13px);
  line-height: 1.4;
  font-family: Inconsolata, "Andale Mono", Monaco, Consolas, monospace;
  color: $dark;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $turqoise;
  text-decoration: none;

  &:hover {
    text-decoration: underline solid rgba($dark, 0.5);
    text-decoration-skip: ink;
  }
}

.site-title {
  color: $safron;
}

h1,
h2,
h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

@media (min-width: 600px) {
  .wrap-all {
    padding-left: 10vw;
  }
}

.page-content {
  @include flex-unit(8vw, 20px, 150px, 20px, padding);
}

.site-header {
  @include flex-unit(8vw, 20px, 150px, 20px, padding-left);
  @include flex-unit(8vw, 20px, 150px, 20px, padding-right);
  padding-top: 5vw;
}

.site-footer {
  @include flex-unit(8vw, 20px, 150px, 20px, padding);
  // @include flex-unit(4vw, 20px, 50px, 20px, padding-top);
  background-color: $dark;
  color: $turqoise;

  p:first-child {
    margin-top: 0;
  }

  a {
    color: $safron;

    &:hover {
      text-decoration: underline solid rgba($turqoise, 0.5);
      text-decoration-skip: ink;
    }
  }
}

.post-in-list {
  margin-bottom: 5vh;

  h2 {
    margin-top: 0.3em;
  }
}

.page-heading {
  margin-top: 0;
}

img {
  max-width: 100%;
}

.tag {
  font-size: 0.75em;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.5vw 1vw;
  line-height: 1;
  background-color: $superlight;
  color: $blue;
  border-radius: 2px;
}
