<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div class="wrap-all">
      {% include header.html %}

      <div class="page-content">
        {{ content }}
      </div>

      {% include footer.html %}
    </div>

    <script src="/assets/js/page.js{% if site.env != 'dev' %}?v={{ site.data.busters['js/page.js']}}{% endif %}" charset="utf-8"></script>
  </body>
</html>
