---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>


  {% for post in site.posts %}
    <article class="post-in-list">
      <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%-d. %B %Y" }}</time>

      <h2>
        <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
      </h2>

      {% if post.categories %}
        {% include tags.html tags=post.categories %}
      {% endif %}
    </article>
  {% endfor %}

</div>
